<h1>CREATE A NEW GENRE</h1>
<form method="POST" action="/songs">
<label for="name"> Title:</label>
<input type="text" name="name" value="name">
<label for="Content"> Artist:</label>
<input type="text" name="content" value="content">
<input type="submit" name="Submit">
</form>
