<h1><%=@single_artist.name%></h1>

<% @single_artist.songs.each do |song| %>
<a href="/songs/<%=song.slug%>">
<li><%=song.name%></li>
<% end %>

<%@single_artist.genres.each do |genres|%>
<li><%=genres.name%></li>
<%end%>
